@font-face {
  font-family: 'iconfont';  /* project id 1219024 */
  src: url('http://at.alicdn.com/t/font_1219024_bznicahldz5.eot');
  src: url('http://at.alicdn.com/t/font_1219024_bznicahldz5.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_1219024_bznicahldz5.woff2') format('woff2'),
  url('//at.alicdn.com/t/font_1219024_bznicahldz5.woff') format('woff'),
  url('//at.alicdn.com/t/font_1219024_bznicahldz5.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_1219024_bznicahldz5.svg#iconfont') format('svg');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}